In [1]:
name = "John Doe"
print(name)

John Doe

In [3]:
poem = '''Johny Johny yes papa
Eating sugar no papa
Telling lies no papa'''
print(poem)

Johny Johny yes papa
Eating sugar no papa
Telling lies no papa

In [ ]:
a = [1, 2, 3, 4, 5]
fruits = ['apple', 'banana', 'cherry','apple', 'grapes', 'banana']
print(a)
print(fruits)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry', 'apple', 'grapes', 'banana']

In [6]:
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'grapes', 'banana', 'orange']

In [7]:
fruits = ('apple', 'banana', 'cherry','apple', 'grapes', 'banana')
fruits.append('orange')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
a = {1,4,2,5,3,2,4,3,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [10]:
student = {
    'name' : 'John',
    'age' : 25,
    'class' : '12th',
    'marks' : 90
}
print(student)

{'name': 'John', 'age': 25, 'class': '12th', 'marks': 90}

In [12]:
#to check the type of the variable
type(student)

dict

Type Casting

In [14]:
a = 10
b = str(a)
type(b)

str

In [21]:
a = int(input("Enter a number: "))
type(a)

int