- how to declare it
- how to access key and value pairs
- how to use loops in dictionary
- indexing in dictionary

In [4]:
student = {
    "name" : "John",
    "age" : 20,
    "class" : 12,
    "gender" : input("Enter your gender:")
}
print(student)

{'name': 'John', 'age': 20, 'class': 12, 'gender': 'm'}

In [2]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [28,32,30],
    'mumbai' : [30,31,29],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [28, 32, 30], 'mumbai': [30, 31, 29]}

In [3]:
info = dict(name= "Alice", age = 25, city = "New York", gender='male')
print(info)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'gender': 'male'}

In [5]:
#1st method to acces the value of a key
print(info['name'])

Alice

In [6]:
#2nd method to access the value of a key
print(info.get('age'))

25

In [7]:
#to add a new pair to the dictionary
info['country'] = 'USA'

In [8]:
print(info)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'gender': 'male', 'country': 'USA'}

In [11]:
print(info.keys())
print(info.values())
print(info.items())

dict_keys(['name', 'age', 'city', 'gender', 'country'])
dict_values(['Alice', 25, 'New York', 'male', 'USA'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York'), ('gender', 'male'), ('country', 'USA')])

In [12]:
for k in info:
    print(k)

name
age
city
gender
country

In [13]:
for k,v in info.items():
    print(f"{k} : {v}")

name : Alice
age : 25
city : New York
gender : male
country : USA

In [14]:
company = {
    'emp001' : {
        'name' : 'Alice',
        'age' : 30,
        'department' : 'HR'
    },
    'emp002' : {
        'name' : 'Bob',
        'age' : 25,
        'department' : 'IT'
    },
    'emp003' : {
        'name' : 'Charlie',
        'age' : 28,
        'department' : 'Finance'
    }
}
print(company)

{'emp001': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'emp003': {'name': 'Charlie', 'age': 28, 'department': 'Finance'}}

In [15]:
from pprint import pprint
pprint(company)

{'emp001': {'age': 30, 'department': 'HR', 'name': 'Alice'},
 'emp002': {'age': 25, 'department': 'IT', 'name': 'Bob'},
 'emp003': {'age': 28, 'department': 'Finance', 'name': 'Charlie'}}

In [16]:
company['emp001']['age']

30

In [17]:
company['emp004'] = {
    'name' : 'David',   
    'age' : 35,
    'department' : 'Marketing'
}
print(company)

{'emp001': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'emp003': {'name': 'Charlie', 'age': 28, 'department': 'Finance'}, 'emp004': {'name': 'David', 'age': 35, 'department': 'Marketing'}}

In [19]:
company['emp004']['age']

35

In [ ]:
sum(temp['delhi']) / len(temp['delhi'])